@import url("https://fonts.googleapis.com/css2?family=Oxygen+Mono&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-family: "Oxygen Mono", sans-serif;
}

#root {
  display: flex;
  width: 60%;
  height: 60%;
  justify-content: center;
  border: 1px solid grey;
  border-radius: 0.25em;
  padding: 1em;
}

a:visited,
a:active,
a:link {
  color: black;
  text-decoration: none;
}

.qrcodebox {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-self: center;
  text-align: center;
  gap: 1em;
}

.downloadBtn {
  display: flex;
  align-self: center;
  border: 1px solid grey;
  border-radius: 0.25em;
  background: lightblue;
  width: fit-content;
  gap: 0.5em;
  padding: 0.25em;
  background-color: rgb(66, 215, 66);
}

h1 {
  font-family: "VT323", sans-serif;
  font-size: 2.5em;
}

h2,
p {
  font-family: "Oxygen Mono", sans-serif;
  font-size: 1em;
  text-align: left;
}

h2 {
  font-weight: bolder;
  width: 125px;
}

.enterLink,
.hitGenerate {
  display: flex;
  gap: 1em;
}

input {
  display: flex;
  align-self: end;
  width: 100%;
  height: fit-content;
  padding: 0.15em 0.25em;
}

img {
  display: flex;
  align-self: center;
  height: 30%;
}

button {
  display: flex;
  padding: 0 0.25em;
  width: fit-content;
}

@media only screen and (max-width: 768px) {
  #root {
    height: 70vh;
  }
  .qrcodebox {
    align-items: center;
  }
  .enterLink,
  .hitGenerate {
    flex-direction: column;
    align-items: center;
    width: 160px;
  }

  h2 {
    text-align: center;
  }

  input {
    width: 150px;
  }

  button {
    width: 100%;
  }
}
